/************************************************
GENERAL STYLES AND RESETS
************************************************/
html, body {
    margin: 0;
    padding: 0;
}

body {
    background: url("../img/background.png");
    font-family: 'Raleway', sans-serif !important;   
}
a,
a:hover,
a:active{
    text-decoration: none !important;
    color: white !important;
}

/************************************************
NAVBAR
************************************************/

.navigation-bar {
    height: 27px;
    width: 100%;
    
    padding-right: 20px;
    
    color: white;
    /* IE 8-9 linear gradient support */
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#898A89', endColorstr='#272727');
    background: linear-gradient(to top, #272727, #898A89);
    text-align: right;
}

/************************************************
CONTAINER
************************************************/

.container {
    max-width: 900px;
    width: 100%;
    height: 100%;
    
    margin: 0 auto;    
    padding: 0;
}


.logo {
    height: 20vh;
    
    margin-bottom: -5%;
    background: url("../img/logo.png") no-repeat;
}


/************************************************
CONTAINER NAVIGATION
************************************************/

.container .container-nav {
    height: 27px;
    
    margin: 0 -2% 2% -2%;
    
    background: linear-gradient(to top, #272727, #898A89);
    /*  IE 8-9 support  */
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#898A89', endColorstr='#272727');
}

.container .container-nav a{
    margin: 0 1%;
}

/* DROPDOWN MENU */

.container .container-nav .dropmenu {
    display: none;
    position: absolute;
}

.container .container-nav .drop-down {
    position: relative;
    top: 15px;
    left: 40px;
    
    margin: 1% 2%;
    
    z-index: 10;
    background-color: rgba(0,0,0, .7);
    min-width: 160px;
    overflow: auto;    
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.container .container-nav .drop-down a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.container .container-nav .drop-down a:hover {
    background-color: #f1f1f1;
    color: black !important; 
}
/************************************************
SOCIAL MEDIA ICONS
************************************************/

.socialicons {
    position: fixed;
    right: 20%;
    top: 200px;
    
    z-index: 10;
}

.socialicons ul {
    margin: 0;
    padding: 0;
}

.socialicons li {
    list-style: none;
    margin: 5px 0;
}
/************************************************
CONTAINER HEADER STYLES
************************************************/
.container .header-container {
    height: 100%;
    width: 100%;
    
    background: #eee;
}

.container .header-container button {
    background: #4096EE !important;
    border: none !important;
    
    margin: 0 0 5% 40%;
    box-shadow: 0px 4px #1575D8;
}

/************************************************
MEMBERSHIP CONTAINER STYLES
************************************************/
.membership-container {
    height: auto;
    width: 100%;
    
    padding-bottom: 2%;
    
    background: #fafafa;
    text-align: center;
}

.membership-container hr {
    width: 85%;
}

/************************************************
MEMBERSHIP DESCRIPTION STYLES
************************************************/
.membership-container .membership-description {
    padding: 30px;
}

.membership-container .membership-description h2{
    text-align: left;
}

.membership-container .membership-description p {
    line-height: 1.3;
    text-align: left;
}
/************************************************
PROMO CONTAINER STYLES
************************************************/

.container .col-sm-12 ul li .col-sm-6 {
    margin: 0;
    padding: 0;
}

/* DEFAULT PACK INFORMATION */

#default {
    top: 2px;
    box-shadow: none !important;
    background: #cbcbcb;
}

#default .promo-header {
    background-image: url("../img/package-header-gray.png");
}

/*END of DEFAULT PACK INFORMATION */

.container .membership-container ul {
    padding: 0;   
}

.container .membership-container ul li {
    list-style: none;
    display: inline-block;
    margin: 0 -10px;
}

.membership-container .promo-container {
    width: 250px;
    height: 600px;
    
    position: relative;
    
    background: #e0e0e0;
    border-radius: 10px;    
    box-shadow: -6px 0 13px rgba(0, 0, 0, .5);
    
    transition: all .3s cubic-bezier(.61,.03,0,1.39);
}

.membership-container .promo-container .promo-header {
    
    margin: 0;
    padding: 0;
    
    height: 110px;
    width: 100%;
    
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    
    background: url("../img/package-header.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
    text-align: center;
    color:white;
    
    transition: all .3s ease-out;
}
.membership-container .promo-container .promo-header h2 {
    font-weight: 700;
    font-size: 1.5em;
}

.membership-container .promo-container .promo-header h1 {
    font-size: 3em;
    font-weight: 700;
}

.membership-container .promo-container .promo-header h1 span{
    position: relative;
    top: 1vh;
    font-size: 0.45em;
    font-weight: 400;
}

.membership-container .promo-container .promo-header h1 .dollar {
    position: relative;
    top: -2vh !important;
        
    font-size: 0.6em;
}

.membership-container .promo-container .promo-content {
    text-align: center;
}

.membership-container .promo-container .promo-content button {
    position: relative;
    top: 1vh;
    
    border: none;
    border-radius: 20px;
    
    padding: 6px 40px;
    
    color: white;
    background: linear-gradient(to top, #393939, #686868);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#686868', endColorstr='#393939');
    
    font-size: 1.3em;
    font-weight: 600;
    
    cursor: pointer;
}

.membership-container .promo-container .promo-content button:hover {
    background: linear-gradient(to top, #A3281D, #FC4124);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FC4124', endColorstr='#A3281D');
}

.membership-container .promo-container .promo-content hr {
    background: white;
    height: 1px;
}

/************************************************
MEMBERSHIP CONTAINERS PSEUDO CLASSES STYLES
************************************************/

.membership-container .promo-container:hover .promo-header{
    background-image: url("../img/package-header-green.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.membership-container .promo-container:hover {
    transform: scale(1.1);
    
    z-index: 20;
    
    background: #fff;
    box-shadow: -6px 0 10px rgba(0, 0, 0, .4),
                1px 1px 10px rgba(0, 0, 0, .4);
}

/* remove all transitions and effects on the default package */

#default:hover {
    transform: none;
    
    z-index: inherit;
}


#default:hover .promo-header {
    background-image: url("../img/package-header-gray.png") !important;
    background-repeat: no-repeat;
    background-size: cover;
    
}
/************************************************
GALLERY STYLES
************************************************/

.container .header-container .col-md-6:not(:last-child) {
    border-right: 1px solid #ccc;
}

.container .header-container .col-md-6:last-child {
    padding: 20px;
}

.gallery {
    text-align: center;
}

.gallery img {
    width: 100%;
}

.carousel {
    width: 100%;
}

.carousel-control.left, .carousel-control.right {
    background: none !important;
    filter: progid: none !important;
    outline: 0;
    
 }

.carousel-indicators {
    bottom: -45px;
}

.carousel-indicators li {
    display: inline-block;
    
    width: 10px;
    height: 10px;
    
    text-indent: 0;
    cursor: pointer;
    border: none !important;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5),
                inset -1px -1px 1px rgba(0, 0, 0, .3);    
}
.carousel-indicators .active {
    background-color: #F0E473 !important;
}

/************************************************
CONTAINER SECONDARY CONTENT STYLES
************************************************/
.container .secondary-content {
    height: auto;
    width: 100%;
    
    margin-top: 10px;
    
    background: white;
}
/************************************************
CONTAINER SECONDARY CONTENT - FIRST ROW
************************************************/
.register {
    margin: 0;
    padding: 0;
    
    margin-top: 2%;
    margin-bottom: 2%;
}

.register img {
    width: 100%;
}

/************************************************
CONTAINER SECONDARY CONTENT - PROGRAMME HEADER TITLE
************************************************/

.container .secondary-content .programme-header {
    position: relative;
    left: -2%;
}
/************************************************
CONTAINER SECONDARY CONTENT - SECOND ROW
************************************************/

.container .secondary-content .programme {
    margin: 2% 0 5% 0;
}

.container .secondary-content .programme .row {
    margin: 2% 0;
}

.container .secondary-content .programme .row img {
    float: left;
    margin-right: 2%;
    
}

.container .secondary-content .programme .row p {
    letter-spacing: -1px;
    line-height: 1.1;
}

.container .secondary-content .programme .row p:last-child {
    color: cornflowerblue;
    float: left;
}
.container .secondary-content .programme .row p:last-child:after {
    content: url("../img/read-more.png");
    
    position: relative;
    left: 5px;    
    
    height: 20px;
    width: 20px;
}
/************************************************
CONTAINER SECONDARY CONTENT - THIRD ROW
************************************************/

.container .secondary-content .blocks {
    margin: 0;
    padding: 0;
}
.container .secondary-content .blocks img {
    float: left;
    margin-right: 5%;
}

.container .secondary-content .blocks .col-md-3:not(:last-child) {
    border-right: 1px solid #e6e6e6;
}

.container .secondary-content .blocks .col-md-3:hover{
    color: #4096EE;
    cursor: pointer;
}

/************************************************
FOOTER
************************************************/
.footer {
    height: auto;
    width: 100%;

    padding-top: 1vh;
    
    background: linear-gradient(to top, #1C1C1C, #5A5C5F);
    /* IE 8-9 Support   */
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#898A89', endColorstr='#272727');
    
    text-align: center;
}

.footer .footer-content {
    margin: 0 20%;
    color: white;
    line-height: 1.2;
    
    margin: 2% 0 1% 0;
}

.footer .footer-content .col-sm-6:first-child,
.footer .footer-content col-md-3:first-child {
    text-align: center !important;
    padding: 0;
    padding-bottom: 5%;
}

.footer .footer-content .col-sm-6,
.footer .footer-content col-md-3 {
    margin-top: 2%;
    margin-bottom: 2%;
}
.footer .footer-content .col-sm-6:not(:first-child),
.footer .footer-content col-md-3:not(:first-child) {
    border-bottom: 1px solid #777;    
}


.footer .footer-content h6 {
    margin-top: 1%;
}

.footer .footer-content hr {
    display: none; 
}

.footer .footer-content a {
    display: block;
    font-size: 0.9em;
}

/************************************************
ADDITIONAL CLASSES AND STYLES
************************************************/
.arrow-nav {
  background-image: url("../img/arrow-nav.gif");
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 110px;
  width: 22px;
  height: 12px;
  z-index: 167;
}
/************************************************
Media Queries
************************************************/

/*Fix the MEMBERSHIP link missing when lower res*/
@media (max-width: 400px) {
    .container .container-nav a {
        font-size: 0.85em;
    }
}

@media (max-width: 420px) {
    .logo {
        margin-bottom: -5% !important;
    }
}

@media (max-width: 500px) {
    .socialicons {
        left: -4%;
    }
}

@media screen and (min-width: 767px) {
    
    .logo {
        height: 14vh;

        margin-bottom: -3%;
        background: url("../img/logo.png") no-repeat;
    }
    
    .footer{
        height: 20vh !important;
        
        font-size: 1.2em !important;
        padding-top: 1vh;
    }
    
    .footer .footer-content {
        margin: 0 !important;
        text-align: left;
    }
    
    .footer .footer-content .col-sm-6,
    .footer .footer-content col-md-3 {
        margin: 0 !important;
        border-bottom: none !important;
    }
    
    .footer .footer-content hr {        
        display: block !important;
        border-color: #787A7C !important;   
    }
    
}

@media screen and (max-width: 767px) {
    
    .logo {
        margin-bottom: -10%;
    }
    
    .carousel-indicators {
        bottom: 0 !important;
        
        background: rgba(0, 0, 0, .3);
        border-radius: 20px;
    }
    
    .container .header-container .col-md-6:not(:last-child) {
        border-right: none !important;
    }    
    
    .container .secondary-content .programme .col-sm-12 {
        margin: 12% 0 4% 0 !important;        
    }
    
    .container .secondary-content .programme .col-sm-12:not(:first-child){
        border-top: 1px solid #ccc;
    }
    
    .container .secondary-content .programme .col-sm-12 h5 {
        clear: left;
    }
    
    .container .secondary-content .programme .col-sm-12 p {
        letter-spacing: normal !important;
    }
    
    .container .secondary-content .blocks{
        height: 100%;
    }
    
    .container .secondary-content .blocks .col-md-3 {
        border-right: 1px solid #e6e6e6;    
        margin-bottom: 2% !important;
    }
    
}

@media (max-width: 769px) and (orientation: portrait) {
    
    .container-nav {
        text-align: center;
    }
    
     .socialicons {
        left: -2%;
    }
    
    .membership-container .promo-container {
        margin: 5% 1% 3% 1%;
    }
}

@media (min-width: 820px){
    .socialicons {
        right: -1%;
    }
}

@media (min-width: 900px) {
    .socialicons {
        right: 1%;
    }
}

@media (min-width: 1024px) {
    .logo {
        margin-bottom: -2%;
    }
} 

@media (min-width: 1350px) {
    .socialicons {
        right: 16%;
    }
}
/*
LANDSCAPE ORIENTATION
*/
@media screen and (max-width: 1023px) and (orientation:landscape) {
    
    .container-nav {
        text-align: center;
    }
    
    .socialicons {
        width: 10%;
        top: 20%;
        right: -3%;
    }
    
   .logo {
        height: 170px;
    }
    
    .container .register img {
        width: 50%;
        margin: 0 25% !important;
    }
    
    .container .secondary-content .programme .col-sm-12:not(:first-child){
        border-top: none;
    }
    
    .membership-container .promo-container {
        margin: 5% 1% 3% 1%;
        
    }
    
    
    .footer {
        height: 75vh !important;
    }
    
    .footer .footer-content .col-sm-6:first-child,
    .footer .footer-content col-md-3:first-child {
        text-align: center;
        width: 100%;
    }
    
    .footer .footer-content .col-sm-6,
    .footer .footer-content col-md-3 {
        width: 30%;
        display: inline-block;
        float: left;
        margin: 0;
        padding: 0;
        
        text-align: center;
        border-bottom: none !important;
    } 
}

@media screen and (min-width: 1024px) and (max-width: 1030px) and (orientation:landscape) {

    
    .membership-container {
        margin: 0 auto;
    }
    
    .membership-container ul {
        height: 90vh;
    }
    
    .membership-container li{
        display: inline !important;        
    }
    .membership-container li .promo-container {
        width: 100%;
    }
}

@media screen and (min-width: 1365px) and (max-width: 1400px) and (orientation:landscape) {
    .socialicons {
        width: 10%;
        top: 20%;
        right: -5%;
    }    
}

@media screen and (min-width: 1024px) and (max-width: 1030px) and (orientation:portrait) {
    
    
    .membership-container {
        margin: 0 auto;
    }
    
    .membership-container ul {
        height: 50vh;
    }
    
    .membership-container li{
        display: inline !important;        
    }
    .membership-container li .promo-container {
        width: 100%;
    }
}
